.bg-popup {
	transition: 1s;
	position: fixed;
	left: -100vw;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.8);
	z-index: 998;
}
@media(min-width: 1024px){

	.content-popup {
		transition: 1s;
		position: fixed;
		width: 500px;
		height: 500px;
		left: 100vw;
		margin-left: calc(50vw - 280px);
		top: calc(50vh - 290px);
		background: #fff;
		border-radius: 8px;
		z-index: 999;
		padding: 40px 30px;
	}
}
.success-ok {
	width: 400px;
	height: 300px;
	transition: 1s;
	position: fixed;
	left: 100vw;
	margin-left: calc(50vw - 230px);
	top: calc(50vh - 150px);
	background: #fff;
	border-radius: 8px;
	z-index: 999;
	padding: 40px 30px;
	text-align: center;
}
.content-popup h4, .success-ok h4 {
	font-size: 26px;
    text-align: center;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
}
.content-popup h4 span {
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}
.success-ok h4 {
	margin-top: 40px;
}
.success-ok p {
	font-size: 14px;
	color: #000;
}
.success-ok .order-dark{
	border-radius: 8px;
	margin-top: 40px;
}
.content-popup input, .content-popup textarea {
	transition: 0.54s;
	width: calc(85% - 20px);
    margin: 12px auto;
    display: block;
    padding: 10px;
    border: 1px solid #D6D6D6;
    outline: none;
}
.content-popup input::placeholder,
.content-popup textarea::placeholder {
	color: #000;
}
.content-popup input:focus,
.content-popup input:active,
.content-popup textarea:focus,
.content-popup textarea:active {
	border: 1px solid #E5D1C3;
	background: #F9F9F9;
	outline: none;
}
.content-popup input:focus::placeholder,
.content-popup input:active::placeholder,
.content-popup textarea:focus::placeholder,
.content-popup textarea:active::placeholder {
	color: #CECECE;
}
.content-popup textarea {
	height: 140px;
}
.midd {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 85%;
    margin: 12px auto;
}
.midd span {
	font-weight: 700;
	font-size: 14px;
}
.midd select {
	border-color: transparent;
	outline: none;
	font-size: 14px;
}
.quantity {
	display: flex;
}
.quantity span {
	margin-right: 7px
}
.n-q {
	width: 57px;
	display: flex;
}
.n-q a {
	display: flex;
	justify-content: center;
	align-items: center;
}
.n-q a img {
	transition: 0.54s;
	width: 20px;
	height: 20px;
	visibility: visible !important;
}
.n-q a img:hover {
	filter: brightness(0.8);
}
.n-q p {
	margin: 0 5px;
	font-size: 16px;
}
.content-popup .order-dark {
	width: calc(85% + 2px);
	margin-top: 40px;
	cursor: pointer;
}


@media(max-width: 1023px){
	.content-popup {
		transition: 1s;
		position: fixed;
		width:  90%;
		left: 100vw;
		margin-left: 5%;
		height: 400px;
		top: calc(50vh - 220px);
		background: #fff;
		border-radius: 5px;
		z-index: 999;
		padding: 20px 0;
	}
	.success-ok {
		width: 240px;
		height: 300px;
		margin-left: calc(50vw - 150px);
	}
	.success-ok h4 {
		font-size: 26px;
	}
	.content-popup h4 {
		font-size: 18px;
		margin: 0 10px 20px;
	}
	.content-popup h4 span {
		font-size: 18px;
	}
	.n-q {
		width: 47px;
		display: flex;
	}
	.n-q a img {
	    width: 16px;
	    height: 16px;
	}
	.midd span, .midd select, .midd p {
		font-size: 12px;
		letter-spacing: -0.5px;
	}
	.content-popup .order-dark {
		margin-top: 30px
	}
	.content-popup textarea {
	    height: 70px;
	}
}