main .flex aside a,
main #tabs ul li a {
	display: block;
    background: #eee;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 5px;
    border-radius: 2px;
    text-decoration: none;
}
main #tabs ul li.ui-tabs-active a,
main #tabs ul li a:hover,
main .flex aside a.active,
main .flex aside a:hover { color: #fff; background: #29ABE2 }
main .flex aside #photo-block { position: relative }
main .flex aside #photo-block #loading {
	position: absolute;
	width: 80px;
	left: calc(50% - 40px);
	top: calc(50% - 40px);
	display: none
}

main #tabs ul { margin-bottom: 15px }
main #tabs ul li { list-style: none; width: calc(50% - 1px) }
main #tabs ul li a { margin-top: 0 }
main table { width: 100%; max-width: 600px }
main table tr td {
	border-bottom: 1px solid #eee;
	padding: 10px;
}
main table tr:last-child td { border: none }
main #tabs table tr input:not([type="file"]) { border: 1px solid #a2a2a2; padding: 5px 10px; border-radius: 2px }
main #tabs table tr i.right { cursor: pointer }
main #tabs .media { cursor: pointer; text-decoration: underline }


main article h2 { font-size: 25px }
main article h3 { font-size: 22px }
main article h4 { font-size: 20px }
/*
@media screen and (max-width: 576px){
	article .btn{
		display: inline-block;
		width: 100% !important;
		text-align: center;
		margin: 5px 0;
		padding: 7px 10px;

	}
	main table.cart_list{
		width: 900px;
		overflow: scroll;
		display: block;
	}
	main table.cart_list td{
		background-color: rgba(100,100,100,0.05);
		border-radius: 5px;
	}
}*/


@media screen and (max-width: 800px) {
	.mob_user_photo{
		width: 50%;
		margin-left: 20%;
		padding: 5%;
	}
	h2{
		padding: 40px 0 10px
	}
	table.cart_list thead {
		display: none;
	}
	table.cart_list tr {
		display: block;
		margin-bottom: 1rem;
		border-bottom: 2px solid #e8e9eb;
	}
	table.cart_list td {
		display: block;
		text-align: right;
	}
	table.cart_list td:before {
		content: attr(aria-label);
		float: left;
		font-weight: bold;
	}
}
.btn{ white-space: nowrap; line-height: 2.5 }
